@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Armies Display';
    src: url('/fonts/Armiesdisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.headerCSS {
  @apply mr-10 ml-10 cursor-pointer text-center; 
  
}

.activeHeader {
  @apply text-red-500 border-b-2 border-b-red-500;
}

.imgCSS {
  @apply w-80 h-80 rounded-full;
}

.aboutCSS {
  @apply bg-gray-200 text-black px-3 py-1 rounded-xl hover:bg-gray-400 text-lg;
}