@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Armies Display';
    src: url('/fonts/Armiesdisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.headerCSS {
  @apply mr-10 ml-10 cursor-pointer text-center; 
  
}

.activeHeader {
  @apply text-[#b74b4b] border-b-2 border-b-[#b74b4b];
}

.imgCSS{
  @apply w-80 h-80 rounded-full;
}