@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Armies Display';
    src: url('/fonts/Armiesdisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/Aptos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
