@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Armies Display';
    src: url('/fonts/Armiesdisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.headerCSS {
  @apply h-[51.1px] w-[85.1px] mr-[45px] ml-[45px] cursor-pointer;
}