@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Armies Display';
    src: url('/fonts/Armiesdisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }